* {
  font-family: "Noto Sans TC", sans-serif;
}
#title {
  font-weight: 700;
}
#createTitle {
  font-size: x-large;
}
.btn-create {
  /* text-decoration: none;
  color: black; */
  background-color: #ff6347;
  color: aliceblue;
  font-weight: bold;
  border-color: black;
  border-width: thin;
  padding: 0.5rem 3rem;
  /* padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer; */
}
.btn-create:hover {
  background-color: #ffa07a;
  font-weight: bold;
  color: aliceblue;
  border-color: black;
  border-width: thin;
}
