<div class="container mt-5 text-center">
  <select name="category" id="category" class="col-6 f4-3 border border-3">
    <option>類別</option>
    <option value="1">家居物業</option>
    <option value="2">交通出行</option>
    <option value="3">休閒娛樂</option>
    <option value="4">餐飲食品</option>
    <option value="5">其他</option>
  </select>
  <div class="d-flex justify-content-center">
    <div
      class="d-flex align-items-center justify-content-around mt-3 mb-3 col-8"
    >
      <div class="p-2 fs-4" id="totalAmountLabel">總金額：</div>
      <div class="p-2 fs-1 fw-bold" id="totalAmount">30000</div>
    </div>
  </div>
  <div class="row text-start fs-4 mb-2 d-flex align-items-center">
    <div class="col-2 text-end">
      <i class="fa-solid fa-house fa-lg"></i>
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="name flex-grow-1 d-flex flex-column">
        <div class="fs-3">午餐</div>
        <div class="fs-6" id="date">2023/03/21</div>
      </div>
      <div class="price fs-2 fw-bold">60</div>
    </div>
    <div class="col text-center">
      <a href="/records/:id/edit" class="btn btn-success">修改</a>
    </div>
    <div class="col text-center">
      <a href="/records/:id/delete" class="btn btn-danger">刪除</a>
    </div>
  </div>
</div>